body {
    font-family: "Open Sans";
    margin: 0;
}

#main {
    margin: 20px;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

#dropdown_container {
    width: 50%;
}
  
.selection {
    width: 50%;
}
